.movie-card {
  background-color: #171717;
  border-radius: 10px;
  padding: 3px;
  text-align: center;
  color: white;
}

.movie-card-image {
  width: 100%;
  height: auto;
}

.movie-card-title {
  font-size: 16px;
  margin-top: 10px;
}
